/* basic syntax */

selector {
     property: value;
}

h2{
    color: red;
}
/* p{
    color: aqua;
    background-color: black;
} */
/* element selector */
div{
    background-color: rebeccapurple;
    color: wheat;
    padding: 10px;
}
/* class selector */
.highlight{
    color: chocolate;
    font-size: 24px;
}
.text-contant{
    background-color: gold;
    padding: 10px;
}
/* I selector */
#sub_heading{
  color: blueviolet;
  font-size: 24px;
  margin-top: 100px;
}

#my_custom_id{
  font-size: 24px;
}